services:
  redis:
    restart: unless-stopped
    image: redis:alpine
    container_name: redis_jefferson
    command: redis-server --port 6379 --save "3600 1"
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - connect

  jefferson:
    container_name: jefferson
    restart: unless-stopped
    environment:
      - TZ=UTC
    build:
      context: .
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    networks:
      - connect

networks:
  connect:
    driver: bridge

volumes:
  redis-data:
